# Cargar dataset

In [4]:
import pandas as pd
import numpy as np

In [3]:
import kaggle

# Autenticarte con la API de Kaggle
kaggle.api.authenticate()

# Descargar el conjunto de datos en la carpeta 'datasets'
kaggle.api.dataset_download_files('alessandrolobello/the-ultimate-earthquake-dataset-from-1990-2023', path='./Bases/', unzip=True)

In [5]:
df = pd.read_csv('./Bases/Eartquakes-1990-2023.csv')

In [11]:
df.columns

Index(['time', 'place', 'status', 'tsunami', 'significance', 'data_type',
       'magnitudo', 'state', 'longitude', 'latitude', 'depth', 'date'],
      dtype='object')

In [12]:
df.rename(columns={'time':'tiempo_ms', 'place':'lugar', 'status':'estado', 'data_type':'tipo', 'significance':'impacto', 'magnitudo':'magnitud_Richter', 'state':'estado'}, inplace=True)

In [13]:
df.head(3)

,tiempo_ms,lugar,estado,tsunami,impacto,tipo,magnitud_Richter,estado,longitude,latitude,depth,date
0,631153353990,"12 km NNW of Meadow Lakes, Alaska",reviewed,0,96,earthquake,2.50,Alaska,-149.669200,61.730200,30.100,1990-01-01 00:22:33.990000+00:00
1,631153491210,"14 km S of Volcano, Hawaii",reviewed,0,31,earthquake,1.41,Hawaii,-155.212333,19.317667,6.585,1990-01-01 00:24:51.210000+00:00
2,631154083450,"7 km W of Cobb, California",reviewed,0,19,earthquake,1.11,California,-122.806167,38.821000,3.220,1990-01-01 00:34:43.450000+00:00

Validar tamaño del dataset original, para contrarrestarlo más adelante con el tamaño de cada una de las muestras:

In [14]:
df.shape

(3445751, 12)

# Funciones de muestreo

## 1) Muestreo alaeatorio simple

In [18]:
muestra_aleatoria_n_datos = df.sample(n=20)

In [19]:
muestra_aleatoria_n_datos.shape

(20, 12)

In [20]:
muestra_aleatoria_n_datos.head(3)

,tiempo_ms,lugar,estado,tsunami,impacto,tipo,magnitud_Richter,estado,longitude,latitude,depth,date
2082930,1387089975200,"3km SSE of The Geysers, CA",reviewed,0,0,earthquake,-0.13,California,-122.740833,38.752167,1.980,2013-12-15 06:46:15.200000+00:00
888080,1034814298158,"9 km WSW of Fox River, Alaska",reviewed,0,22,earthquake,1.20,Alaska,-151.119000,59.827000,44.300,2002-10-17 00:24:58.158000+00:00
1715772,1280425604490,"12km NE of Cabazon, CA",reviewed,0,27,earthquake,1.32,California,-116.716000,34.005167,15.816,2010-07-29 17:46:44.490000+00:00

Acceder a fracción aleatoria de una muestra (descrita de forma porcentual):

In [23]:
muestra_porcentual = df.sample(frac=0.05)

In [24]:
muestra_porcentual.shape

(172288, 12)

In [26]:
muestra_porcentual.head(3)

,tiempo_ms,lugar,estado,tsunami,impacto,tipo,magnitud_Richter,estado,longitude,latitude,depth,date
1483983,1209476715390,"73 km NW of Ternate, Indonesia",reviewed,0,246,earthquake,4.00,Indonesia,126.848000,1.183000,59.70,2008-04-29 13:45:15.390000+00:00
2454675,1478365272830,"76 km SE of Akutan, Alaska",reviewed,0,168,earthquake,3.30,Alaska,-165.004600,53.615200,60.64,2016-11-05 17:01:12.830000+00:00
3234622,1644707300630,"5km NNW of Pinnacles, CA",reviewed,0,14,earthquake,0.96,California,-121.161167,36.571333,3.99,2022-02-12 23:08:20.630000+00:00

## 2) Muestro sistemático

In [32]:
# Función para hacer el muestro sistemático:

def muestreo_sistematico(df,step):
    indices = np.arange(0, len(df), step=step)
    muestreo_sistematico = df.iloc[indices]
    return muestreo_sistematico

Para una explicación detallada de la función anterior, consulte la [explicación paso a paso](./Explicación%20funciones%20y%20más/muestreo_sistematico.md).

In [33]:
muestra_sistemática = muestreo_sistematico(df,50)

In [34]:
muestra_sistemática.shape

(68916, 12)

In [35]:
muestra_sistemática.head(3)

,tiempo_ms,lugar,estado,tsunami,impacto,tipo,magnitud_Richter,estado,longitude,latitude,depth,date
0,631153353990,"12 km NNW of Meadow Lakes, Alaska",reviewed,0,96,earthquake,2.50,Alaska,-149.6692,61.730200,30.100,1990-01-01 00:22:33.990000+00:00
50,631176629110,"7 km WSW of Mammoth Lakes, California",reviewed,0,4,earthquake,0.52,California,-119.0515,37.626333,4.161,1990-01-01 06:50:29.110000+00:00
100,631210705520,"37 km NNE of Amboy, Washington",reviewed,0,1,earthquake,0.20,Washington,-122.1915,46.200333,3.327,1990-01-01 16:18:25.520000+00:00